/vendor
/vendor-src
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
.DS_Store
.env
/tmp
/docs/confidential
/.playwright-cli
/builds
/.kosmokrator
/.kosmo
/storage
/website/node_modules
/website/dist
/website/.astro
/website/src/content/docs/docs/changelog.mdx
tui_err.log
tui_error.log
